.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  position: relative;
  border-bottom: 4px solid rgb(144, 144, 144);
  background-color: rgb(227, 225, 225);
  height: 100px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: rgb(176, 15, 176);
}
.navLinks {
  margin-left: 30px;
}
.navItem {
  font-size: 20;
  font-weight: 600;
  margin: 0 12px;
}
.right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn {
  cursor: pointer;
  background-color: blue;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 21px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.btn:hover {
  background-color: darkblue;
}

.navItem:hover {
  color: darkblue;
}
.menu {
  font-size: 40px;
  font-weight: bold;
  display: none;
  cursor: pointer;
}
@media (max-width: 1080px) {
  .logo {
    display: none;
  }
  .menu {
    display: block;
  }
  .navLinks {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 100px;
    transition: all 0.3s ease-in;
    background-color: rgb(227, 225, 225);
    margin: 0;
    padding: 10px 40px;
    clip-path: polygon(0 1%, 100% 0, 100% 0, 0 0);
  }
  .navItem {
    margin: 0;
  }
}
